@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Estilo para adicionar espaço entre os slides */
.slick-slide {
  padding: 0 20px; /* Adicione espaço horizontal */
}

@media (min-width: 1300px) {
  .slick-slide {
    padding: 0 3px; /* Adicione mais espaço horizontal */
  }
}

.slick-list {
  margin: 0 -10px; /* Ajusta para alinhar corretamente */
}
